/id_rsa
/id_rsa.pub
/known_hosts
parabotv2/python
out

.idea/compiler.xml

.idea/.name

.idea/dictionaries/Jeroen.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

parabotv2/parabotv2.iml

.idea/libraries/jython.xml

parabotv2/src/META-INF/MANIFEST.MF

.idea/artifacts/Parabot_V2_02.xml

.idea/artifacts/parabotv2.xml

*.dat

*.idx0

*.idx2

*.idx1

*.idx4

*.idx3
/bin

.idea/uiDesigner.xml

.idea/libraries/jfxrt.xml

*.classpath

*.project

*.xml

/releases/

*.iml

releases